.homeContainer{
    
}
.img{
    width: 25rem;
    height: auto;
}

.mainTitle{
    font-size: 54px;
    color: #fff;
    font-weight: bold;
    line-height: 53px;
}
.description{
    color: #8d8d8d;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 3px;
}
.p-minus2{
    margin-left: -2rem;
}
.p-minus4{
    margin-left: -4rem;
}
.p-minus6{
    margin-left: -6rem;
}